<p id="notice"><%= notice %></p>

<h1>Test Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_results.each do |test_result| %>
      <tr>
        <td><%= test_result.created_at %></td>
        <td><%= link_to 'Show', test_result %></td>
        <td><%= link_to 'Destroy', test_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

